# .env
.env

# c program
c/*
c/*.o
!c/**/*.c
!c/**/*.a
!c/**/*.h
!c/**/Makefile.*

#JAVA
**/*.class

#Scala
scala/**/project
scala/**/target

#Maven
maven/**/target

# node.js
node/**/node_modules
node/**/package-lock.js
node/**/.serverless

## python
python/**/.venv
python/**/__pycache__/

## mongodb
mongodb/backup

## oracle
oracle/node/dbConfig.js
oracle/**/node_modules
oracle/**/package-lock.json
node/**/package-lock.json
node/**/package.json

## pycharm
/env.
/.idea/.gitignore
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/deployment.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/neo.iml
**/secret.json

## docker
docker/mysql/mysql*
docker/mongodb/mongo*