# .env
.env

# c program
c/*
c/*.o
!c/**/*.c
!c/**/*.a
!c/**/*.h
!c/**/Makefile.*

#JAVA
**/*.class

#Scala
scala/**/project
scala/**/target

#Maven
maven/**/target

# node.js
node/**/node_modules
node/**/package-lock.js

## python
python/**/.venv
python/**/__pycache__/

## mongodb
mongodb/backup

## oracle
oracle/node/dbConfig.js
oracle/**/node_modules
oracle/**/package-lock.json
